# Created by https://www.gitignore.io/api/go,visualstudiocode

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage reports
*-coverage.html
all-coverage.html
acceptance-coverage.html

### VisualStudioCode ###
.vscode/*

gitsweeper*

bin/*
tmp/*
# End of https://www.gitignore.io/api/go,visualstudiocode
