name: Aruba Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test:
    name: Test (${{ matrix.ruby-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # ruby-version: ['3.0', '3.1', '3.2'] # overkill
        ruby-version: ['3.3']
        go-version: [ '1.21.x' ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - name: Pull Dummy Git Repo
      run: docker pull petems/dummy-git-repo
    - name: Bundler
      run: bundle install
    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v5
      with:
          go-version: ${{ matrix.go-version }}
    - name: Cucumber
      run: bundle exec cucumber